*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.nav{
    background-color:#333c4d;
    display: flex;
    justify-content:stretch;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;

}

.site_title{
    font-size: 50px;
}

.menu_text{
    font-size: 20px;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    color:white;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li.active{
    background-color: #333c4d;
}

.nav li:hover{
    background-color: #777;
}

