/* Pattarapong Thanakiethirun 6130300654 */
.information_main{
    background-color: rgb(46, 49, 63)
    
  
}
body{
    margin: 0;
}

.information_text1{
    font-size: 35px;
    color:white;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 40px;
}

.information_text2{
        font-size: 20px;
        color: rgb(253, 253, 253);
        margin-left: 650px;
        padding-top: 50px;
        padding-left: 50px;
        padding-bottom: 50px;

}


.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
 
    
}
.rect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.bg_information{
    display: grid;
    background-color: rgba(236, 228, 228, 0.325);
    column-gap: 150px;
    row-gap: 70px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto; 
    grid-template-columns: 1fr 1fr 1fr ;
    padding-bottom: 100px;
    padding-top: 10px;
    padding-left: 200px;
}

.information_text3{
    color: black;
    font-size: 25px;
    padding-left: 50px;
}
.information_text4{
    color: black;
    font-size: 25px;
    padding-left: 50px;
}

.car_img{
    align-items: center;
    justify-content: center;
}

.bg_information2{
    display: grid;
    background-color: rgba(236, 228, 228, 0.325);
    column-gap: 20px;
    row-gap: 15px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto; 
    grid-template-columns: 1fr 1fr 1fr ;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 50px;
}


.box{
    display: block;
    background-color: white;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(3, 3, 3);
    box-sizing: border-box;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.box2{
    display: block;
    background-color: white;
    width: 400px;
    height: 50px;
    border: 2px solid rgb(3, 3, 3);
    box-sizing: border-box;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.text-box{
    padding-left: 70px;
    font-size: 20px;
}

.text-box2{
    padding-left: 170px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.bg_information3{
    display: grid;
    background-color: rgba(236, 228, 228, 0.325);
    column-gap: 20px;
    row-gap: 15px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto; 
    grid-template-columns: 1fr ;
    padding-bottom: 5px;
    padding-top: 50px;
    padding-left: 270px;
}


.box3{
    display: block;
    background-color: white;
    width: 1300px;
    height: 150px;
    border: 2px solid rgb(3, 3, 3);
    box-sizing: border-box;
    padding-top: 10px;
    justify-content: center;
    align-items: center;

}

.text-box3{
    padding-left: 70px;
    font-size: 20px;
}

.box4{
    display: block;
    background-color: white;
    width: 300px;
    height: 80px;
    border: 2px solid rgb(3, 3, 3);
    box-sizing: border-box;
    padding-top: 10px;
    justify-content: center;
    align-items: center;

}

.bg_information4{
    display: grid;
    background-color: rgba(236, 228, 228, 0.325);
    column-gap: 20px;
    row-gap: 15px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 130px;
}

.box5{
    display: block;
    background-color: white;
    width: 600px;
    height: 60px;
    border: 2px solid rgb(3, 3, 3);
    box-sizing: border-box;
    padding-top: 10px;
    justify-content: center;
    align-items: center;

}
.bg_information5{
    display: grid;
    background-color: rgba(236, 228, 228, 0.325);
    column-gap: 0px;
    row-gap: 10px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto; 
    grid-template-columns: 1fr 1fr  ;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 130px;
}

.bg_informationFree{
    display: grid;
    column-gap: 20px;
    row-gap: 15px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-bottom: 250px;
    padding-top: 10px;
    padding-left: 130px;
}