/* Pattarapong Thanakiethirun 6130300654 */
.text{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.text2{
    font-size: 20px;
    color: black;
    padding-left: 100px ;
}

.Book_main{
    background-color: rgb(255, 255, 255);
}

.Menu_bar{

}

.Footer2{
    padding-top: 500px;
}